.kirish{
    width: 15%;
    height: 5vh;
    position:absolute;
    padding: 5px;
    top:230px;
    left:120px;
    z-index:500;
    color: white;
    display: flex;
background-color: #323c82;
    align-items: center;
}

.blocks {
    position: absolute;
    left: 100%;
    top: 0px;
    width:6vh;
    height: 6vh;
    background: conic-gradient(transparent 235deg, #323c82 235deg 315deg, transparent 315deg);
}
.kirishPage a{
    color: #fff;
    text-decoration: none;
}